@import "tailwindcss";

/* Keep layout width consistent between pages that do/don't have a scrollbar */
html {
  scrollbar-gutter: stable;
}

/* --- Leaflet popup: force true rectangle (remove triangle) --- */
.leaflet-popup-tip-container {
  display: none !important;
}

.leaflet-popup {
  margin-bottom: 0 !important; /* remove space reserved for the tip */
}

.leaflet-popup-content-wrapper {
  border-radius: 10px; /* optional */
}